{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
    <body class="img js-fullheight" style="background-image: url(static/images/slider_background.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mb-3">
                    <h2 class="heading-section"><b>Add Category</b></h2>
                    
               </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                <form action="{% url 'adtc' %}" method="post"  enctype="multipart/form-data" class="signin-form">
                      {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control"name="cname" placeholder="Category Name" required>
                    </div>
                      <div class="form-group">
                        <input type="text" class="form-control"name="noc" placeholder="Number of classes" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"name="valid" placeholder="valid for" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"name="paid" placeholder="payment done or not" required>
                    </div>
                   
                    <div class="form-group">
                        <input type="number" class="form-control"name="price" placeholder="price" required>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control"name="img" placeholder="Image" required>
                    </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Add</button>
                </div>
              </form>
              
              </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </section>

    <script src="static/log/js/jquery.min.js"></script>
  <script src="static/log/js/popper.js"></script>
  <script src="static/log/js/bootstrap.min.js"></script>
  <script src="static/log/js/main.js"></script>

    </body>
</html>