{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
    <body class="img js-fullheight" style="background-image: url(static/images/slider_background.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mb-3">
                    <h2 class="heading-section"><b>Add Department</b></h2>
               </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                <form action="{% url 'adde' %}" method="post"  class="signin-form">
                      {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control"name="dname" placeholder="Department Name" required>
                   
                    </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Add</button>
                </div>
              </form>
              
              </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </section>

    <script src="static/log/js/jquery.min.js"></script>
  <script src="static/log/js/popper.js"></script>
  <script src="static/log/js/bootstrap.min.js"></script>
  <script src="static/log/js/main.js"></script>

    </body>
</html>