{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
<div class="col-md-5 text-center mb-3">
</div>
<center><h2 class="heading-section"><b>Add Doctor</b></h2></center>
            <div class="row justify-content-center">
                
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                <form action="{% url 'addr' %}" method="post"  class="signin-form">
                      {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control"name="drname" placeholder="Doctor Name" required>
                   
                    </div>
                    <div>
                    
                        <div class="form-group">
                            <div class="form-control">
                                <select name="department" placeholder="Department" required>
                                   
                                    {% for i in data %} 
                                    <option value="{{ i.id }}">{{i.dname}}</option>
                                    {% endfor %}
                                   
                                </select>
                            </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Add</button>
                </div>
              </form>
              
              </div>
                </div>
            </div>
        </div>
        {% endblock %}
  