{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
<center>
    <h2 class="heading-section"><b>Add Programs</b></h2>
</center>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <form action="{% url 'adpg' %}" method="post" enctype="multipart/form-data" class="signin-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" required>

                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="classes" placeholder="Classes" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="videourl" placeholder="Videourl" required>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" name="image" placeholder="Image" required>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" name="video" placeholder="upload video" required>
                </div>

                

                    <div class="form-group">
                        <div class="form-control">
                            <select name="category" placeholder="Category" required>

                                {% for i in data %}
                                <option value="{{ i.id }}">{{i.cname}}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Add</button>
                    </div>
            </form>

        </div>
    </div>
</div>
</div>
{% endblock %}