{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
<body>
  <div class="content">
    
    <div class="container">
      <h2 class="mb-5"><b><center>Appointments</center></b></h2>
       <div class="table-responsive">
           <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">User</th>
              <th scope="col">Address</th>
              <th scope="col">State</th>
              <th scope="col">City</th>
              <th scope="col">Zipcode</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Doctor</th>
              <th scope="col">Department</th>
              <th scope="col">Appointment Date</th>
              <th scope="col">Appointment Time</th>
              <th scope="col">Message</th>
             
            </tr>
          </thead>
        </tr>
    {% for i in data %}
    <tr>
      <td>
        {{i.id}}
      </td> 
      <td>
        {{i.cus}}
      </td>
      <td>
        {{i.address}}
      </td>
      <td>
        {{i.state}}
      </td>
      <td>
        {{i.city}}
      </td>
      <td>
        {{i.zipcode}}
      </td>
      <td>
        {{i.email}}
      </td>
      <td>
        {{i.phone}}
      </td>
      <td>
        {{i.dr}}
      </td>
      <td>
        {{i.dep}}
      </td>
      <td>
        {{i.date}}
      </td>
      <td>
        {{i.atime}}
      </td>
      <td>
        {{i.message}}
      </td>
      
      
       
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
  </body>
  