{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
<body>
  <div class="content">
    
    <div class="container">
      <h2 class="mb-5"><b><center>Doctors</center></b></h2>
       <div class="table-responsive">
           <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Doctor Name</th>
              <th scope="col">Department</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>

            </tr>
          </thead>
        </tr>
    {% for i in data %}
    <tr>
      <td>
        {{i.id}}
      </td> 
      <td>
        {{i.drname}}
      </td>
      <td>
        {{i.dep}}
      </td>
        
     
        <td>
            <a href="{% url 'edi' userid=i.id %}">Edit</a>
        </td>
      <td>
        <a href="{% url 'dl' userid=i.id %}">Delete</a>
    </td>
    
      <td>
       
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
  </body>
  ed