{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}

<body>
  <form method="POST" action="{% url 'tble2' %}">
    {% csrf_token %}
  <b> <input type="text" name="title" placeholder="Search"></b>
        <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
        </button>
</form>
  <div class="content">
    <div class="container">
      <h2 class="mb-5"><b>
          <center>Programs</center>
        </b></h2>
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Classes</th>
              <th scope="col">Videourl</th>
              <th scope="col">Image</th>
              <th scope="col">Video</th>
              <th scope="col">Category</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          {% for i in data %}
          <tr>
            <td>
              {{i.id}}
            </td>
            <td>
              {{i.title}}
            </td>
            <td>
              {{i.classes}}
            </td>
            <td>
              {{i.videourl}}
            </td>
            <td>
              <img src="{{i.image.url}}" style="height: 50%; width:50%;">
            </td>
            <td>
              <video style="height: 80%; width:80%;" controls>
              <source src='{{ i.videofile.url }}' type='video/mp4'>
            
            </video>
            </td>
            <td>
              {{i.cu}}
            </td>
            <td>
              <a href="{% url 'edp' userid=i.id %}">Edit</a>
            </td>
            <td>
              <a href="{% url 'dlp' userid=i.id %}">Delete</a>
            </td>
              {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
</body>