{% extends 'dashboard/index1.html' %}
{% load static %}
{% block content %}
<body>
  <div class="content">
    
    <div class="container">
      <h2 class="mb-5"><b><center>Users</center></b></h2>
       <div class="table-responsive">
           <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">DOB</th>
              <th scope="col">Gender</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              
            </tr>
          </thead>
        </tr>
    {% for i in data %}
    <tr>
      <td>
        {{i.id}}
      </td> 
      <td>
        {{i.first_name}}
      </td>
      <td>
        {{i.dob}}
      </td>
      <td>
        {{i.gen}}
      </td>
      <td>
        {{i.email}}
      </td>
      <td>
        {{i.phone}}
      </td>
     
        
    
      <td>
       
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
  </body>
  