<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
    <title>Yoga Corner</title>
    <meta charset="UTF-8">
    <meta name="description" content="Ahana Yoga HTML Template">
    <meta name="keywords" content="yoga, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="static/css/nice-select.css" />
    <link rel="stylesheet" href="static/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="static/css/style.css" />


    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section -->
    <header class="header-section">
        <div class="header-top">
            <div class="row m-0">
                <div class="col-md-6 d-none d-md-block p-0">
                    <div class="header-info">
                        
                        <p>{{ request.user.email}}</p>
                    </div>
                    <div class="header-info">
                        <i class="material-icons">map</i>
                        <p> Yoga Corner</p>
                    </div>
                </div>
                <div class="col-md-6 text-left text-md-right p-0">
                    <div class="header-info d-none d-md-inline-flex">
                        <i class="material-icons">alarm_on</i>
                        <p>Mon - Fri: 4:30am - 10:45pm</p>
                    </div>
                    <div class="header-info">
                        <i class="material-icons">language</i>
                        <select id="language" class="language-select">
                            <option data-display="Language" value="1">English</option>
                            <option data-display="Language" value="2">Malayalam</option>
                            <option data-display="Language" value="2">Tamil</option>
                            <option data-display="Language" value="2">Kannada</option>
                            <option data-display="Language" value="2">Hindi</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <a href="#" class="site-logo">
                <img src="static/img/logomi.png" alt="">
            </a>
            <div class="hb-right">
                <div class="hb-switch" id="search-switch">
                    <img src="static/img/icons/search.png" alt="">
                </div>
                <div class="hb-switch" id="infor-switch">
                    <img src="static/img/icons/bars.png" alt="">
                </div>
            </div>
            <div class="container">
                <ul class="main-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="abo">About Us</a></li>
                    <li><a href="prd">Programmes</a></li>
                    <li><a href="classes.html">Appointments</a></li>
                    <li><a href="rate">Price Details</a>
                    <li><a href="cnt">Contact Us</a></li>
                    <li><a href="home">Sign Up</a></li>
                    <li><a href="log">Log in</a></li>


                    </li>


                </ul>
            </div>
        </div>
    </header>
    <!-- Header Section end -->

    <!-- Infor Model -->
    <div class="infor-model-warp">
        <div class="infor-model d-flex align-items-center">
            <div class="infor-close">
                <i class="material-icons">close</i>
            </div>
            <div class="infor-middle">
                <a href="#" class="infor-logo">
                    <img src="static/img/logo-2.png" alt="">
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="insta-imgs">
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/1.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/2.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/3.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/4.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/5.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/6.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="infor-form">
                    <input type="text" placeholder="Your Email">
                    <button><img src="static/img/icons/send.png" alt=""></button>
                </form>
                <div class="insta-social">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Infor Model end -->

    <!-- Page top Section -->
    <section class="page-top-section set-bg" data-setbg="static/img/page-top-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 m-auto text-white">
                    <h2>Develop Body, Mind and Spirit</h2>
                    <p><b>with Yoga, the Ultimate Transformation.....</b></p>
                </div>
            </div>
        </div>
    </section>
	<!-- Page top Section end -->

	<!-- Service Section -->
	
	<!-- Service Section end -->

	<!-- What we do Section -->
	<section class="wwd-section spad set-bg" >
		<div class="container">
			
			<div class="row">
				<h3
				<p style="text-align:center;"><b>About us</b></p></h3>
					<p><b>Yoga Corner is an online yoga platform which changes so many lives every single day we provide yoga classes and trainings in both traditional and modern styles and keep you refreshed and active. Our yoga training classes are suitable for all level there is no matter whether you are new to the world of yoga.

						We are really passionate about helping our students to find their inner power and hidden potentials. Our unique approach makes the learning experience more intresting and motivating.The step by step approach helps our students to grab all the essentials of yoga. The aim of our venture is to not only strengthen the emotional foundations of the mind but also to enhance the overall development of the body.</b></p>
				</div>
			</div>
		</div>
	</section>
	<!-- What we do Section end -->

	<!-- Trainer Section -->
	
	<!-- Trainer Section end -->

	<!-- Review Section -->
	
	<!-- Review Section end -->

	<!-- Blog Section -->
	
	<!-- Blog Section end -->

	<!-- Gallery Section -->
	
	<!-- Gallery Section end -->


	<!-- Footer Section -->
	<footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="about-widget">
                            <img src="static/img/logomi.png" alt="">
                            <h4>Yoga Corner</h4>
                            <p>Near Technopoint, Kochi</p>
                            <ul>
                                <li><i class="material-icons">phone</i>(+91) 8078752478</li>
                                <li><i class="material-icons">email</i>infoyogacorner@gmail.com</li>
                                <li><i class="material-icons">map</i>Kochi,Kerala</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">

                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget pl-0 pl-lg-5">
                        <h2 class="fw-title"><b>Working Hours</b></h2>
                        <ul>
                            <li><i class="material-icons">alarm_on</i>Mon - Fri: 6:30am - 07:45pm</li>
                            <li><i class="material-icons">alarm_on</i>Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form class="infor-form">
                            <input type="text" placeholder="Your Email">
                            <button><img src="static/img/icons/send.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-social">
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a>
                            <a href="https://mobile.twitter.com/login"><i class="fa fa-twitter"></i></a>
                            <a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 text-md-right">
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved </i> <a <!--
                                Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<!-- Footer Section end -->
	
	<div class="back-to-top"><img src="static/img/icons/up-arrow.png" alt=""></div>

	<!-- Search model -->
	<div class="search-model set-bg" data-setbg="img/search-bg.jpg">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch"><i class="material-icons">close</i></div>
			<form class="search-moderl-form">
				<input type="text" id="search-input" placeholder="Search">
				<button><img src="static/img/icons/search-2.png" alt=""></button>
			</form>
		</div>
	</div>
	<!-- Search model end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="static/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.slicknav.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery.nice-select.min.js"></script>
	<script src="static/js/jquery-ui.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/main.js"></script>

	</body>
</html>
