<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
	<title>Yoga Corner</title>
	<meta charset="UTF-8">
	<meta name="description" content="Ahana Yoga HTML Template">
	<meta name="keywords" content="yoga, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/font-awesome.min.css" />
	<link rel="stylesheet" href="static/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="static/css/nice-select.css" />
	<link rel="stylesheet" href="static/css/slicknav.min.css" />

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="static/css/style.css" />


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<div class="header-top">
			<div class="row m-0">
				<div class="col-md-6 d-none d-md-block p-0">
                    <div class="header-info">
                        
                        <p>{{ request.user.email}}</p>
                    </div>
                    <div class="header-info">
                        <i class="material-icons">map</i>
                        <p> Yoga Corner</p>
                    </div>
                </div>
				<div class="col-md-6 text-left text-md-right p-0">
					<div class="header-info d-none d-md-inline-flex">
						<i class="material-icons">alarm_on</i>
						<p>Mon - Fri: 4:30am - 10:45pm</p>
					</div>
					<div class="header-info">
						<i class="material-icons">language</i>
						<select id="language" class="language-select">
							<option data-display="Language" value="1">English</option>
							<option data-display="Language" value="2">Malayalam</option>
							<option data-display="Language" value="2">Tamil</option>
							<option data-display="Language" value="2">Kannada</option>
							<option data-display="Language" value="2">Hindi</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<a href="#" class="site-logo">
				<img src="static/img/logomi.png" alt="">
			</a>
			<div class="hb-right">
				<div class="hb-switch" id="search-switch">
					<img src="static/img/icons/search.png" alt="">
				</div>
				<div class="hb-switch" id="infor-switch">
					<img src="static/img/icons/bars.png" alt="">
				</div>
			</div>
			<div class="container">
				<ul class="main-menu">
					<li><a href="index.html">Home</a></li>
                    <li><a href="abo">About Us</a></li>
                    <li><a href="prd">Programmes</a></li>
                    <li><a href="classes.html">Appointments</a></li>
                    <li><a href="rate">Price Details</a>
                    <li><a href="cnt">Contact Us</a></li>
                    <li><a href="home">Sign Up</a></li>
                    <li><a href="log">Log in</a></li>


					</li>


				</ul>
			</div>
		</div>
	</header>
	<!-- Header Section end -->

	<!-- Infor Model -->
	<div class="infor-model-warp">
		<div class="infor-model d-flex align-items-center">
			<div class="infor-close">
				<i class="material-icons">close</i>
			</div>
			<div class="infor-middle">
				<a href="#" class="infor-logo">
					<img src="static/img/logo-2.png" alt="">
				</a>
				<p>Join and experience the change</p>
				<div class="insta-imgs">

					<div class="insta-item">
						<div class="insta-img">

							<img src="static/img/infor/bg 1.jpg" alt="">
							<div class="insta-hover">
								<i class="fa fa-instagram"></i>
								<p>ahana.yoga</p>
							</div>
						</div>
					</div>
					<div class="insta-item">
						<div class="insta-img">
							<img src="static/img/infor/bg 1.jpg" alt="">
							<div class="insta-hover">
								<i class="fa fa-instagram"></i>
								<p>ahana.yoga</p>
							</div>
						</div>
					</div>
					<div class="insta-item">
						<div class="insta-img">

							<div class="insta-hover">
								<i class="fa fa-instagram"></i>
								<p>ahana.yoga</p>
							</div>
						</div>
					</div>
					<div class="insta-item">
						<div class="insta-img">

							<div class="insta-hover">
								<i class="fa fa-instagram"></i>
								<p>ahana.yoga</p>
							</div>
						</div>
					</div>
					<div class="insta-item">
						<div class="insta-img">

							<div class="insta-hover">
								<i class="fa fa-instagram"></i>
								<p>inf</p>
							</div>
						</div>
					</div>
					<div class="insta-item">
						<div class="insta-img">

							<div class="insta-hover">
								<i class="fa fa-instagram"></i>
								<p>infoyogacorner</p>
							</div>
						</div>
					</div>
				</div>
				<form class="infor-form">
					<input type="text" placeholder="Your Email">
					<button><img src="static/img/icons/send.png" alt=""></button>
				</form>
				<div class="insta-social">
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Infor Model end -->

	<!-- Page top Section -->
	<section class="page-top-section set-bg" data-setbg="static/img/page-top-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>Develop Body, Mind and Spirit</h2>
					<p><b>with Yoga, the Ultimate Transformation.....</b></p>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Contact Section -->
	<section class="contact-page-section spad overflow-hidden">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
					<div class="con-info">
						<h3><b>Visit the Yoga Corner</b></h3>
						<ul>
							<li><i class="material-icons">map</i>Near Technopoint, Kochi</li>
							<li><i class="material-icons">map</i>Kerala, India</li>
						</ul>
					</div>
					<div class="con-info">
						<h3><b>Message Us</b></h3>
						<ul>
							<li><i class="material-icons">phone</i>(+91) 8078752478</li>
							<li><i class="material-icons">mail</i>infoyogacorner@gmail.com</li>
							<li><i class="material-icons">facebook</i>Infoyogacornerkerala</li>
							
						</ul>
					</div>
					<div class="con-info">
						<h3><b>Opening Hours</b></h3>
						<ul>
							<li><i class="material-icons">map</i>Mon - Fri: 6:30am - 07:45pm</li>
							<li><i class="material-icons">map</i>Sat - Sun: 8:30am - 05:45pm</li>
						</ul>
						
					</div>
					
					<div class="contact-social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
					
				</div>
				<div class="col-lg-6 " style="width: 100%;">
					<!-- <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen=""></iframe> -->
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31568.245419554034!2d76.94391586901992!3d8.496398009043832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bbb255555555%3A0x5bc365b3a54635e2!2sTitiksha!5e0!3m2!1sen!2sin!4v1634560423293!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen=""></iframe>  
				  </div>
		
				</br>
				<div class="col-lg-8">
					<form class="singup-form contact-form">
						<div class="row">
							<div class="col-md-6">
								<input type="text" placeholder="First Name">
							</div>
							<div class="col-md-6">
								<input type="text" placeholder="Last Name">
							</div>
							<div class="col-md-6">
								<input type="text" placeholder="Your Email">
							</div>
							<div class="col-md-6">
								<input type="text" placeholder="Phone Number">
							</div>
							<div class="col-md-12">
								<textarea placeholder="Message"></textarea>
								<a href="#" class="site-btn sb-gradient">Send message</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Trainers Section end -->

	<!-- Gallery Section -->

	<!-- Gallery Section end -->

	<!-- Footer Section -->
	<footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="about-widget">
                            <img src="static/img/logomi.png" alt="">
                            <h4>Yoga Corner</h4>
                            <p>Near Technopoint, Kochi</p>
                            <ul>
                                <li><i class="material-icons">phone</i>(+91) 8078752478</li>
                                <li><i class="material-icons">email</i>infoyogacorner@gmail.com</li>
                                <li><i class="material-icons">map</i>Kochi,Kerala</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">

                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget pl-0 pl-lg-5">
                        <h2 class="fw-title"><b>Working Hours</b></h2>
                        <ul>
                            <li><i class="material-icons">alarm_on</i>Mon - Fri: 6:30am - 07:45pm</li>
                            <li><i class="material-icons">alarm_on</i>Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form class="infor-form">
                            <input type="text" placeholder="Your Email">
                            <button><img src="static/img/icons/send.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-social">
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a>
                            <a href="https://mobile.twitter.com/login"><i class="fa fa-twitter"></i></a>
                            <a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 text-md-right">
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved </i> <a <!--
                                Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<!-- Footer Section end -->

	<div class="back-to-top"><img src="static/img/icons/up-arrow.png" alt=""></div>

	<!-- Search model -->
	<div class="search-model set-bg" data-setbg="img/search-bg.jpg">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch"><i class="material-icons">close</i></div>
			<form class="search-moderl-form">
				<input type="text" id="search-input" placeholder="Search">
				<button><img src="static/img/icons/search-2.png" alt=""></button>
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="static/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.slicknav.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery.nice-select.min.js"></script>
	<script src="static/js/jquery-ui.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>