<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
    <title>Yoga Corner</title>
    <meta charset="UTF-8">
    <meta name="description" content="Ahana Yoga HTML Template">
    <meta name="keywords" content="yoga, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="static/css/nice-select.css" />
    <link rel="stylesheet" href="static/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="static/css/style.css" />


    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section -->
    <header class="header-section">
        <div class="header-top">
            <div class="row m-0">
                <div class="col-md-6 d-none d-md-block p-0">
                    <div class="header-info">
                        
                        <p>{{ request.user.email}}</p>
                    </div>
                    <div class="header-info">
                        <i class="material-icons">map</i>
                        <p> Yoga Corner</p>
                    </div>
                </div>
                <div class="col-md-6 text-left text-md-right p-0">
                    
                    <div class="header-info">
                        <div class="insta-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <a href="#" class="site-logo">
                <img src="static/img/logomi.png" alt="">
            </a>
            <div class="hb-right">
                <div class="hb-switch" id="search-switch">
                    <img src="static/img/icons/search.png" alt="">
                </div>
                <div class="hb-switch" id="infor-switch">
                    <img src="static/img/icons/bars.png" alt="">
                </div>
            </div>
            <div class="container">
                <ul class="main-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="abo">About Us</a></li>
                    <li><a href="prd">Programmes</a></li>
                    <li><a href="appo">Appointments</a></li>
                    <li><a href="rate">Price Details</a>
                    <li><a href="cnt">Contact Us</a></li>
                    {% if not user.is_authenticated %}
                    <li><a href="home">Sign Up</a></li>
                    <li><a href="log">Log in</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="out">Log out</a></li>
                    {% endif %}
                

                    </li>


                </ul>
            </div>
        </div>
    </header>
    <!-- Header Section end -->

    <!-- Infor Model -->
    <div class="infor-model-warp">
        <div class="infor-model d-flex align-items-center">
            <div class="infor-close">
                <i class="material-icons">close</i>
            </div>
            <div class="infor-middle">
                <a href="#" class="infor-logo">
                    <img src="static/img/logo-2.png" alt="">
                </a>
                <a href="admin_log" class="site-btn sb-gradient mt-5">Admin Login</a> 

                <div class="insta-imgs">
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/1.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/2.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/3.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/4.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/5.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                    <div class="insta-item">
                        <div class="insta-img">
                            <img src="static/img/infor/6.jpg" alt="">
                            <div class="insta-hover">
                                <i class="fa fa-instagram"></i>
                                <p>ahana.yoga</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="infor-form">
                    <input type="text" placeholder="Your Email">
                    <button><img src="static/img/icons/send.png" alt=""></button>
                </form>
                <div class="insta-social">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Infor Model end -->

    <!-- Page top Section -->
    <section class="page-top-section set-bg" data-setbg="static/img/page-top-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 m-auto text-white">
                    <h2>Develop Body, Mind and Spirit</h2>
                    <p><b>with Yoga, the Ultimate Transformation.....</b></p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section spad">
        <div class="container">
            <div class="section-title text-center">
                <img src="static/img/icons/logo-icon.png" alt="">
                <h2>Welcome to Yoga Corner</h2>
                <p><b>Experience the power of breath !</b></p>
            </div>
            <div class="row">


                <div class="col-lg-6">
                    <div class="about-img">

                    </div>
                </div>
                <div class="about-item">
                    <div class="ai-icon">
                        <img src="static/img/icons/about-1.png" alt="">
                    </div>

                    <div class="ai-text">

                        <h4>Full Rejuvenation</h4>
                        <p>The most peaceful, calming and relaxing yoga around,There is so much depth to practise with
                            it, comes a great sense of release.</p>
                    </div>
                </div>
                <div class="about-img">
                    <img src="img/about-2.png" alt="">
                </div>
                <div class="about-item">
                    <div class="ai-icon">
                        <img src="static/img/icons/about-2.png" alt="">
                    </div>
                    <div class="ai-text">
                        <h4>Sheild aganist disease</h4>
                        <p>Yoga not only improves our overall health and immunity but also contributes to a quick and
                            fast recovery of patients from diseases.
                        </p>
                    </div>
                </div>
                <div class="about-item">
                    <div class="ai-icon">
                        <img src="static/img/icons/about-3.png" alt="">
                    </div>
                    <div class="ai-text">
                        <h4>Slows the Aging</h4>
                        <p>Some of researches and studies has proved that deep and peaceful yoga practise helps slowed
                            down the cellular aging and lowered the measures of inflammation of in the body</p>
                    </div>

                </div>
               <a href="home" class="site-btn sb-gradient mt-5">Get Started</a> 

            </div>

        </div>
        </div>
    </section>
    <!-- About Section end -->

    <!-- Classes Section -->
    <section class="classes-section spad">
        <div class="container">
            <div class="section-title text-center">
                <img src="static/img/icons/logo-icon.png" alt="">
                <h2>Programme Categories</h2>
                <p>Join and experience the change</p>
            </div>
            <div class="classes-slider owl-carousel">


                {% for i in data %}
                <div class="classes-item">
                    <div class="ci-img">
                        <img src="{{i.image.url}}" alt="">
                    </div>
                    <div class="ci-text">
                        <h4>{{i.cname}}</h4>
                        <div class="ci-metas">
                            <div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
                            <div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
                        </div>
                        <p>Join and experience the change</p>
                    </div>
                    <div class="ci-bottom">
                        <div class="ci-author">
                            <img src="static/img/classes/author/l3.jpg" alt="">
                            <div class="author-text">
                                <h6></h6>Hari
                                <p>Yoga Trainer</p>
                            </div>
                        </div>
                        <a href="prd" class="site-btn sb-gradient">View program</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Classes Section end -->

    <!-- Trainer Section -->
    <section class="trainer-section overflow-hidden spad">
        <div class="container">
            <div class="section-title text-center">
                <img src="static/img/icons/logo-icon.png" alt="">
                <h2>More Benefits of Yoga</h2>
                <p>Practice Yoga to perfect physical beauty, take care of your soul and enjoy life more fully!</p>
            </div>
            <div class="trainer-slider owl-carousel">
                <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png"
                                alt="">
                        </div>
                        <div class="ti-text">
                            <h4>Helps with Rheumatoid Arthritis</h4>
                           
                            

                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png">
                        </div>
                        <div class=" ti-text">
                            <h4>Improves Heart Health</h4>
                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png" alt="">
                        </div>
                        <div class="ti-text">
                            <h4>Helps with Asthma</h4>
                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png" alt="">
                        </div>
                        <div class="ti-text">
                            <h4>Treats Insomnia</h4>
                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png" alt="">
                        </div>
                        <div class="ti-text">
                            <h4>Combats Migraines</h4>
                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png" alt="">
                        </div>
                        <div class="ti-text">
                            <h4>
                                Cures chronic injuries</h4>
                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                 <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png" alt="">
                        </div>
                        <div class="ti-text">
                            <h4>Combats Migraines</h4>
                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="ts-item">
                    <div class="trainer-item">
                        <div class="ti-img">
                            <img src="static/img/icons/yog.png" alt="">
                        </div>
                        <div class="ti-text">
                            <h4>Treats Depression and other mental health
                                disorders
                                </h4>
                            
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trainer Section end -->

    <!-- Review Section -->
    <section class="review-section spad set-bg" data-setbg="img/review-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="review-slider owl-carousel">
                        <div class="review-item">

                            <div class="ri-text text-white">
                                <h4>Yoga as a Way of Life</h4>
                                <p>
                                    The primary goal of Yoga is to gain balance and control in one’s life; to free
                                    oneself from confusion and distress; to provide a sense of calm that comes from the
                                    practice of yogic asanas and pranayama or the breathing practices. Yoga improves
                                    posture, increases the intake of oxygen and enhances the functioning of all body
                                    systems, including respiratory, digestive, endocrine, reproductive and excretory
                                    systems. The ultimate goal of Yoga is self-realization.</p>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review Section end -->

    <!-- Event Section -->

    <!-- Event Section end -->


    <!-- Pricing Section -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="section-title text-center">
                <img src="static/img/icons/logo-icon.png" alt="">
                <b>
                <h4>How does Yoga Corner help to keep you fit and refreshed ?</h4>
                <p>Fitness depends as much on the state of mind as on the state of the body. A well balanced diet, healthy frame of mind and an appropriate yoga routine can go a long way to keep you fit. To experience the classic yoga, it is best to learn with an adept and qualified yoga consultant. We Team Yoga Corner not only teaches you classic yoga in right way, but also offers a platform for personal consultation and treatment modalities with an optimum mix of yoga and naturopathy.</p>
            </b>
            </div>
            
        </div>
    </section>
    <!-- Pricing Section end -->

    <!-- Sign up Section -->
    <section class="signup-section spad">
        <div class="container">
            <div class="row">


                <div class="col-lg-6">
                    <div class="singup-text">
                        <h3><b>Quick Message</b></h3>

                    </div>
                    <form class="singup-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Last Name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Your Email">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Phone Number">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Message"></textarea>
                                <a href="#" class="site-btn sb-gradient">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Sign up Section end -->

    <!-- Gallery Section -->

    <!-- Gallery Section end -->

    <!-- Footer Section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="about-widget">
                            <img src="static/img/logomi.png" alt="">
                            <h4>Yoga Corner</h4>
                            <p>Near Technopoint, Kochi</p>
                            <ul>
                                <li><i class="material-icons">phone</i>(+91) 8078752478</li>
                                <li><i class="material-icons">email</i>infoyogacorner@gmail.com</li>
                                <li><i class="material-icons">map</i>Kochi,Kerala</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">

                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget pl-0 pl-lg-5">
                        <h2 class="fw-title"><b>Working Hours</b></h2>
                        <ul>
                            <li><i class="material-icons">alarm_on</i>Mon - Fri: 6:30am - 07:45pm</li>
                            <li><i class="material-icons">alarm_on</i>Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form class="infor-form">
                            <input type="text" placeholder="Your Email">
                            <button><img src="static/img/icons/send.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-social">
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a>
                            <a href="https://mobile.twitter.com/login"><i class="fa fa-twitter"></i></a>
                            <a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 text-md-right">
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved </i> <a <!--
                                Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section end -->

    <div class="back-to-top"><img src="static/img/icons/up-arrow.png" alt=""></div>

    <!-- Search model -->
    <div class="search-model set-bg" data-setbg="img/search-bg.jpg">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="material-icons">close</i></div>
            <form class="search-moderl-form">
                <input type="text" id="search-input" placeholder="Search">
                <button><img src="static/img/icons/search-2.png" alt=""></button>
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="static/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.slicknav.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>